<a href="https://colab.research.google.com/github/vinomwega/Data-analysis/blob/main/Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Alternate Blocks

In [ ]:
x = -2
if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is negative

Test for a driving  license

In [ ]:
age = int(input("Please enter your age: "))

if age > 18:
    print("You are qualified to get a driving  license")
else:
    print("You are still too young to drive")

Please enter your age: 16
You are still too young to drive

**Nesting**

A school follows this grading system

below 25 - F

25 to 45 - E

45 to 50 - D

50 to 60 - C

60 to 80 - B

Above 80 - A

Ask the student to enter their marks and print their grade

In [ ]:
grade = int(input("Please enter your marks: "))

if grade >= 0 and grade < 25:
    print("Your grade is F")

elif grade >= 25 and grade < 45:
    print("Your grade is E")

elif grade >=45 and grade < 50:
    print("Your grade is D")

elif grade >= 50 and grade < 60:
    print("Your grade is C")

elif grade >= 60 and grade < 80:
    print("Your grade is B")

elif grade >= 80 and grade <= 100:
    print("Your grade is A")

else:
    print("You can only enter mark that are between 0 to 100")

Please enter your marks: 52
Your grade is C

# **Loops**

In [ ]:
x=True

while(x == True):
    x = False
    print ("I love coding")

I love coding

In [ ]:
x=10

while(x >0):
    x = x-1
    print ("I love coding")

I love coding
I love coding
I love coding
I love coding
I love coding
I love coding
I love coding
I love coding
I love coding
I love coding

In [ ]:
x=10

while(x >0):
    print ("I love coding")
    x = x-1
    if(x == 5):
        break

I love coding
I love coding
I love coding
I love coding
I love coding

Exercise:

Prompt the user for their name and if it contains an 'n' print once

if not print 5 times

In [ ]:
Uname = input( "Please enter your name")
count = 0
while(count < 1):
    if( "n" in Uname):
        print("Your name is:  ", Uname)
    break

else:
    print("Your name is:  ", Uname)
    count = count + 1

Please enter your namemary

In [ ]:
uname =input()

Data storage

In [ ]:
# Lists

names=["john", "Mary", "Peter"]

In [ ]:
print(names)

['john', 'Mary', 'Peter']

In [ ]:
names[2]

'Peter'

In [ ]:
names[-1]

'Peter'

In [ ]:
len(names)

3

In [ ]:
temperature=[56, 64, 98, 9]
temperature[len(temperature)-1]

9

In [9]:
names[0:2]

['john', 'Mary']

In [10]:
names[1:]

['Mary', 'Peter']

In [13]:
names[-3:]

['john', 'Mary', 'Peter']

In [14]:
# skipping items/ aletenate
names[0::2]

['john', 'Peter']

In [15]:
student=[["John",18], ["Mary",19], ["Peter",17]]

In [16]:
student[0][1]
# accessing items in a list

18

for Loop

In [17]:
for name in names:
    print(name)

john
Mary
Peter

In [18]:
for temp in temperature:
    print(temp)

56
64
98
9

In [19]:
#getting the sum

total = 0
for temp in temperature:
    total = total + temp
print(total)

227

In [20]:
# getting the average
average = total/len(temperature)
print(average)

56.75

In [21]:
# functions to perform aithmetics
sum(temperature)

227

In [22]:
min(temperature)

9

In [23]:
max(temperature)

98

In [25]:
temperature.append(100)

In [26]:
temperature

[56, 64, 98, 9, 100]

In [27]:
temperature.pop()

100

In [28]:
temperature.remove(9)
temperature

[56, 64, 98]

In [29]:
print(range(0,10))

range(0, 10)

In [30]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
range(5,16)

range(5, 16)

In [34]:
list(range(5,16))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [35]:
sum(range(5,16))

110

In [36]:
# Also
nums = list(range(5,16))
sum_nums = 0
for num in nums:
    sum_nums = sum_nums + num
print(sum_nums)

110

In [37]:
# Ways to access your list in reverse order
names[-1::-1]

['Peter', 'Mary', 'john']

In [38]:
#Rever your list
names.reverse()
names

['Peter', 'Mary', 'john']

In [39]:
names_2=("Joseph", "Andrew", "Jane")

print(type(names_2))
print(type(names))

<class 'tuple'>
<class 'list'>

In [40]:
profiles = {"John":18, "Mary":21, "Peter":25}

In [41]:
len(profiles)

3

In [42]:
profiles["John"]

18

In [43]:
profiles["Mary"] = 34

In [44]:
profiles

{'John': 18, 'Mary': 34, 'Peter': 25}

In [46]:
profiles.values()

dict_values([18, 34, 25])

In [47]:
# cast to list
list(profiles.values())

[18, 34, 25]

In [48]:
profiles.items()

dict_items([('John', 18), ('Mary', 34), ('Peter', 25)])

In [49]:
for i,j in profiles.items():
    print(i)
    print(j)

John
18
Mary
34
Peter
25

Sets

In [51]:
nums = [1,1,2,2,5,2,1,3,3,4,5,6,6,2,1,8,9,4,2]

In [52]:
set(nums)

{1, 2, 3, 4, 5, 6, 8, 9}