<a href="https://colab.research.google.com/github/vinomwega/Data-analysis/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intoduction to Python

In [ ]:
print("Hello World")

Hello World

Variables and Data types

In [ ]:
age = 25
print(age)

25

In [ ]:
height = 1.65

In [ ]:
print(height)

1.65

In [ ]:
name = 'James Bond'
print(name)
# When declarig a variable  you can use single quote ('') or double quote ("")

James Bond

In [ ]:
is_student = False

In [ ]:
# check data type
print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
is_student

False

Bassic Operations

In [ ]:
x = 10
y = 5

In [ ]:
addition = x + y
print(addition)

15

In [ ]:
subtraction = x - y
print(subtraction)

5

In [ ]:
multiplication = x * y
print(multiplication)

50

In [ ]:
division = x / y
print(division)

2.0

In [ ]:
first_name = "John"
last_name = "Richer"

In [ ]:
full_name = first_name + ' ' + last_name
print(full_name)

John Richer

Comparison Operators

In [ ]:
#   >  greater than
#   <  less than
#   ==  equal to
#   !=  not equal to
#   >=  greater than or equal to
#   <=  less than or equal to

In [ ]:
n1 = 10
n2 = 5

In [ ]:
n1 < n2

False

In [ ]:
n1 > n2

True

In [ ]:
n1 == n2

False

In [ ]:
n1 != n2

True

In [ ]:
 n1 >= n2

True

In [ ]:
n1 <= n2

False

Logical Operators

In [ ]:
a = True
b = False

AND -> if both true = True

OR -> if either is true = True

NOT -> Opposite

In [ ]:
a and b

False

In [ ]:
a or b

True

In [ ]:
not a
not b

True

In [ ]:
number = 30

is_positive = number > 0

print(is_positive)

True

Write a code that checks is a person is an adult based on their age. 18 and above

In [ ]:
age = 20
is_adult = age > 18

print(is_adult)

True

Input and Output

In [ ]:
name2 = input("what is your name? ")
hobby = input ("what is your favorite hobby?")

print("My name is ", name2, " and I like ", hobby)

# also

print(f"My name is {name2} and I like {hobby}")

what is your name? Ben
what is your favorite hobby?Swimming
My name is  Ben  and I like  Swimming
My name is Ben and I like Swimming

Commenting

In [ ]:
# This is a  single line comment

'''
This
is
a
multinie
comment

z =2
'''
print(z)

NameError: name 'z' is not defined

In [ ]:
# This is a  single line comment

'''
This
is
a
multinie
comment

'''
z =2
print(z)

2

In [ ]:
# name2 = input("what is your name? ")
# hobby = input ("what is your favorite hobby?")

# print("My name is ", name2, " and I like ", hobby)

# # also

# print(f"My name is {name2} and I like {hobby}")

To comment out multiple line of code select the lines and press ctrl + /

and vise versa

Basic Calculator


Create a program that

1. Ask the user for two numbers.
2. Perform all basic mathematic operation - add, subtract, multiplication, division.
3. Print all the numbers int this formart:

 addition: 20

 subtraction: 30

 etc

In [ ]:
num1 = int(input('Enter the 1st number: '))
num2 = int( input('Enter the 2nd number: '))
add = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2

print("\nYour answers are as follows: ")
print("Addition: ", add)
print("Subtraction: ", sub)
print("Multiplication: ", mul)
print("Division: ", div)

Enter the 1st number: 30
Enter the 2nd number: 15

Your answers are as follows:
Addition:  45
Subtraction:  15
Multiplication:  450
Division:  2.0

Temperature converter

Get user input as celsius then give output as Farenheit

In [ ]:
temp_celsius = float(input("Enter temperature in celsius: "))
temp_farenheit = temp_celsius * 9/5 + 32

print(f"\nYour temperature in Farenhiet is: ", temp_farenheit)

Enter temperature in celsius: 36.8

Your temperature in Farenhiet is:  98.24

Exercise : Name generator

Ask the user for their first name and last name.

Print thier inititials,  their name in reverse and their name repeated 3 times.

Example of the expected output:

First name is Jane and last name is Doe

Their iniials are J.D

Their name in reverse  is eoD enaJ

Their name repeated 3 times is Jane Doe, Jane Doe, Jane Doe

In [ ]:
# Ask the user for their first name and last name
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

# Compute initials
initials = f"{first_name[0].upper()}.{last_name[0].upper()}"

# Reverse the name
reversed_name = f"{last_name[::-1]} {first_name[::-1]}"

# Repeat the name 3 times
repeated_name = ", ".join([f"{first_name} {last_name}"] * 3)

# Print the results
print("\nResults:")
print(f"First name is {first_name} and last name is {last_name}")
print(f"Their initials are {initials}")
print(f"Their name in reverse is {reversed_name}")
print(f"Their name repeated 3 times is {repeated_name}")

Enter your first name: James
Enter your last name: Jacker

Results:
First name is James and last name is Jacker
Their initials are J.J
Their name in reverse is rekcaJ semaJ
Their name repeated 3 times is James Jacker, James Jacker, James Jacker