In [21]:
import pandas as pd

#change the setting to display all columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
#Import data
data= pd.read_csv(r"C:\Users\omweg\Desktop\Data Analysis\Class code\literacy_subnational_ken.csv") # helps deal with large data sets by keeeping an original

In [13]:
data.head()

,ISO3,Location,DataId,Indicator,Value,Precision,DHS_CountryCode,CountryName,SurveyYear,SurveyId,IndicatorId,IndicatorOrder,IndicatorType,CharacteristicId,CharacteristicOrder,CharacteristicCategory,CharacteristicLabel,ByVariableId,ByVariableLabel,IsTotal,IsPreferred,SDRID,RegionId,SurveyYearLabel,SurveyType,DenominatorWeighted,DenominatorUnweighted,CILow,CIHigh,LevelRank
0,#country+code,#loc+name,#meta+id,#indicator+name,#indicator+value+num,#indicator+precision,NaN,#country+name,#date+year,#survey+id,#indicator+code,NaN,NaN,NaN,NaN,NaN,NaN,#indicator+label+code,#indicator+label,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KEN,Coast,4354681,Women with secondary or higher education,19.9,1,KE,Kenya,2003,KE2003DHS,ED_LITR_W_SCH,231233010.0,I,416003.0,1416010.0,Region,Coast,0,NaN,0.0,1.0,EDLITRWSCH,KEDHS2003416003,2003,DHS,667.0,938.0,NaN,NaN,1.0
2,KEN,North Eastern,4990063,Women with secondary or higher education,0.8,1,KE,Kenya,2003,KE2003DHS,ED_LITR_W_SCH,231233010.0,I,416008.0,1416020.0,Region,North Eastern,0,NaN,0.0,1.0,EDLITRWSCH,KEDHS2003416008,2003,DHS,168.0,437.0,NaN,NaN,1.0
3,KEN,Eastern,6641722,Women with secondary or higher education,22.2,1,KE,Kenya,2003,KE2003DHS,ED_LITR_W_SCH,231233010.0,I,416004.0,1416030.0,Region,Eastern,0,NaN,0.0,1.0,EDLITRWSCH,KEDHS2003416004,2003,DHS,1325.0,993.0,NaN,NaN,1.0
4,KEN,Central,6468066,Women with secondary or higher education,41.6,1,KE,Kenya,2003,KE2003DHS,ED_LITR_W_SCH,231233010.0,I,416002.0,1416040.0,Region,Central,0,NaN,0.0,1.0,EDLITRWSCH,KEDHS2003416002,2003,DHS,1181.0,1314.0,NaN,NaN,1.0

Data Cleaning

In [36]:
#illustrations
#df.nunique()# shows the unique  values
df.loc[:, df.nunique() == 1]'''gives a subset of values that have only one unique value '''.columns # gives the columns that have only one unique value

Index(['ISO3', 'DHS_CountryCode', 'CountryName', 'CharacteristicCategory',
       'IsTotal', 'IsPreferred'],
      dtype='object')

In [59]:
#drop First row
#df.drop([0], inplace=True)
df =  data.iloc[1:]

# Drop columns with null values
#df = df.dropna(axis=0, how='all') # drop rows that all have null values
df = df.dropna(axis=1, how='all') # drop columns that all have null values

# Drop Id Columns
to_drop = [column for column in df.columns if 'Id' in column or'ID' in column] # this is list comprehension where runs a for loop to check for id in columns to be deleted
df = df.drop(to_drop, axis=1)# drops all rows that have id in them

# Drop order column
to_drop = [column for column in df.columns if 'Order' in column ] 
df = df.drop(to_drop, axis=1)

#Drop duplicate column
df = df.drop(['CharacteristicLabel'], axis=1)

# Drop Columns with single value
to_drop =  df.loc[:, df.nunique() == 1]. columns
df = df.drop(to_drop, axis=1)

# Column type conversion
df['Value'] = df['Value'].astype(float)


# view new data set
df.head()

,Location,Indicator,Value,Precision,SurveyYear,IndicatorType,SurveyYearLabel,SurveyType,DenominatorWeighted,DenominatorUnweighted,LevelRank
1,Coast,Women with secondary or higher education,19.9,1,2003,I,2003,DHS,667.0,938.0,1.0
2,North Eastern,Women with secondary or higher education,0.8,1,2003,I,2003,DHS,168.0,437.0,1.0
3,Eastern,Women with secondary or higher education,22.2,1,2003,I,2003,DHS,1325.0,993.0,1.0
4,Central,Women with secondary or higher education,41.6,1,2003,I,2003,DHS,1181.0,1314.0,1.0
5,Rift Valley,Women with secondary or higher education,25.0,1,2003,I,2003,DHS,1872.0,1328.0,1.0

Summary Statistics

In [42]:
df.info(verbose= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2721 entries, 1 to 2721
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               2721 non-null   object
 1   Indicator              2721 non-null   object
 2   Value                  2721 non-null   float64
 3   Precision              2721 non-null   object
 4   SurveyYear             2721 non-null   object
 5   IndicatorType          2721 non-null   object
 6   CharacteristicLabel    2721 non-null   object
 7   SurveyYearLabel        2721 non-null   object
 8   SurveyType             2721 non-null   object
 9   DenominatorWeighted    2461 non-null   float64
 10  DenominatorUnweighted  2461 non-null   float64
 11  LevelRank              2581 non-null   float64
dtypes: float64(4), object(8)
memory usage: 255.2+ KB

In [43]:
df.describe()

             Value  DenominatorWeighted  DenominatorUnweighted    LevelRank
count  2721.000000          2461.000000            2461.000000  2581.000000
mean    181.321499           795.770012             812.672897     1.400620
std     570.434088          1103.778324            1100.114812     0.490119
min       0.000000            35.000000             118.000000     1.000000
25%       2.000000           226.000000             296.000000     1.000000
50%      33.900000           436.000000             590.000000     1.000000
75%     100.000000           885.000000             756.000000     2.000000
max    9777.000000          8730.000000            9777.000000     2.000000

In [72]:
# Print Descriptive stats on Indicators
indicator_Stats = df.pivot_table(columns = 'Indicator', values = 'Value', index = 'Location'). describe().T
indicator_Stats

,count,mean,std,min,25%,50%,75%,max
Indicator,,,,,,,,
Men for whom no card with required language was available,54.0,0.043519,0.147877,0.000,0.00000,0.0000,0.000,0.80
Men who are blind/visually impaired,54.0,0.066667,0.124764,0.000,0.00000,0.0000,0.100,0.50
Men who are literate,54.0,88.950278,10.656560,54.600,87.81875,93.1250,95.775,99.15
Men who can read a whole sentence,54.0,48.771389,10.364658,20.300,42.38750,49.8125,56.700,66.25
Men who can read part of a sentence,54.0,10.131944,6.016840,2.200,5.70000,8.2750,13.425,26.75
Men who cannot read at all,54.0,10.883611,10.633177,0.850,4.15000,6.7500,11.950,45.40
Men with missing information on literacy,54.0,0.110185,0.219357,0.000,0.00000,0.0000,0.100,1.00
Men with secondary or higher education,54.0,30.049352,9.348863,12.900,24.62500,29.0625,35.375,66.34
Men's literacy: Total,54.0,100.000000,0.000000,100.000,100.00000,100.0000,100.000,100.00
Number of men,54.0,358.872222,374.419911,39.000,128.50000,257.5000,423.625,2098.75
Number of men (unweighted),54.0,380.458333,335.515018,170.500,248.62500,275.5000,317.875,2169.25
Number of women,59.0,914.260169,900.355367,95.000,346.75000,668.5000,1015.000,5204.25
Number of women (unweighted),59.0,960.908475,795.361635,503.000,627.25000,708.5000,770.750,5360.50
Women for whom no card with required language was available,59.0,0.019576,0.067199,0.000,0.00000,0.0000,0.000,0.45
Women who are blind/visually impaired,59.0,0.157627,0.177960,0.000,0.02500,0.1000,0.200,0.80
Women who are literate,59.0,81.695339,20.933628,22.250,80.11250,88.8500,94.850,98.60
Women who can read a whole sentence,59.0,46.944322,14.033689,10.825,43.90000,51.3000,56.200,63.25
Women who can read part of a sentence,59.0,9.454831,3.882268,3.650,6.57500,8.3500,11.400,21.45
Women who cannot read at all,59.0,18.020424,20.977593,1.250,4.81250,10.7000,19.550,77.60
Women with missing information on literacy,54.0,0.221605,0.251383,0.000,0.00000,0.2000,0.300,1.00
Women with secondary or higher education,59.0,25.298559,10.966776,5.550,18.92500,26.2500,31.025,58.34
Women's literacy: Total,59.0,100.000000,0.000000,100.000,100.00000,100.0000,100.000,100.00

Questions

Gender Disparity: In which countries is the gap btn men and women's litracy the largest

In [74]:
# slice on indicator

#df['Indicator']. unique() # shows the values in Indicator
literacy_ind = [ind for ind in df['Indicator']. unique()if 'literate' in ind]
#literacy_ind
gender_gap = df[df['Indicator'].isin(literacy_ind)]

# slice on county data
gender_gap = gender_gap [gender_gap['LevelRank'] == 2]

#Pivot our data
gender_gap = gender_gap.pivot_table(index= 'Location', columns='Indicator', values='Value')

# Calculate difference for men and women
gender_gap['gap'] = abs(gender_gap.iloc[:,0] - gender_gap.iloc[:,1])

# Sort values
gender_gap = gender_gap.sort_values('gap', ascending=False)

# view Gender disparity data
gender_gap.sample(5)

Indicator  Men who are literate  Women who are literate  gap
Location
Kiambu                     98.2                    95.8  2.4
Kitui                      84.7                    91.7  7.0
Kirinyaga                  93.7                    91.5  2.2
Nyeri                      95.6                    96.3  0.7
Nyandarua                  97.0                    94.3  2.7

In [75]:
gender_gap

Indicator        Men who are literate  Women who are literate   gap
Location
Garissa                          72.2                    26.3  45.9
Wajir                            64.7                    20.7  44.0
Mandera                          62.2                    24.0  38.2
Samburu                          70.8                    40.1  30.7
Isiolo                           87.9                    58.0  29.9
Turkana                          52.8                    24.5  28.3
Marsabit                         63.6                    35.5  28.1
Tana River                       80.8                    53.5  27.3
West Pokot                       71.3                    50.0  21.3
Kilifi                           94.1                    75.1  19.0
Kwale                            87.6                    72.7  14.9
Bungoma                          79.5                    88.7   9.2
Kericho                          97.1                    89.3   7.8
Migori                           92.9                    85.7   7.2
Narok                            81.1                    74.0   7.1
Kitui                            84.7                    91.7   7.0
Tharaka-Nithi                    90.5                    84.1   6.4
Mombasa                          98.9                    92.6   6.3
Kajiado                          89.3                    83.1   6.2
Busia                            81.3                    87.0   5.7
Laikipia                         88.6                    83.0   5.6
Kisii                            96.6                    91.2   5.4
Kisumu                           97.9                    92.6   5.3
Homa Bay                         88.8                    93.8   5.0
Meru                             90.4                    86.1   4.3
Nandi                            94.1                    98.4   4.3
Siaya                            95.4                    91.5   3.9
Bomet                            92.9                    89.4   3.5
Uasin Gishu                      97.3                    93.9   3.4
Machakos                         98.6                    95.3   3.3
Embu                             92.2                    95.4   3.2
Murang'a                         90.7                    93.9   3.2
Lamu                             87.1                    84.2   2.9
Nyandarua                        97.0                    94.3   2.7
Vihiga                           95.5                    93.1   2.4
Kiambu                           98.2                    95.8   2.4
Trans-Nzoia                      87.9                    85.6   2.3
Kirinyaga                        93.7                    91.5   2.2
Nairobi                          98.6                    96.5   2.1
Kakamega                         94.1                    92.1   2.0
Nyamira                          99.7                    98.2   1.5
Makueni                          95.5                    96.9   1.4
Baringo                          84.9                    86.3   1.4
Elgeyo Marakwet                  95.5                    96.8   1.3
Nakuru                           95.3                    94.0   1.3
Taita Taveta                     94.8                    96.1   1.3
Nyeri                            95.6                    96.3   0.7

In [68]:
'''''
# Create a piviot table to have  location , indicator and value
gender_gap = gender_gap.pivot_table(index= 'Location', columns='Indicator', values='Value')
'''
gender_gap

Indicator,Men with missing information on literacy,Men's literacy: Total,Women with missing information on literacy,Women's literacy: Total
Location,,,,
Baringo,0.0,100.0,1.0,100.0
Bomet,0.0,100.0,0.0,100.0
Bungoma,0.7,100.0,0.4,100.0
Busia,0.0,100.0,0.1,100.0
Elgeyo Marakwet,0.4,100.0,0.2,100.0
Embu,0.0,100.0,0.2,100.0
Garissa,0.0,100.0,0.3,100.0
Homa Bay,0.4,100.0,0.0,100.0
Isiolo,0.0,100.0,0.0,100.0
Kajiado,0.0,100.0,0.1,100.0
Kakamega,0.0,100.0,0.0,100.0
Kericho,0.3,100.0,0.2,100.0
Kiambu,0.0,100.0,1.0,100.0
Kilifi,0.4,100.0,0.0,100.0
Kirinyaga,0.0,100.0,0.9,100.0
Kisii,0.0,100.0,0.1,100.0
Kisumu,0.0,100.0,0.2,100.0
Kitui,0.0,100.0,0.0,100.0
Kwale,0.0,100.0,0.6,100.0
Laikipia,0.0,100.0,0.3,100.0
Lamu,0.0,100.0,0.0,100.0
Machakos,0.0,100.0,0.0,100.0
Makueni,0.0,100.0,0.1,100.0
Mandera,0.4,100.0,0.3,100.0
Marsabit,0.0,100.0,0.0,100.0
Meru,0.0,100.0,0.0,100.0
Migori,0.0,100.0,0.3,100.0
Mombasa,0.0,100.0,0.8,100.0
Murang'a,0.0,100.0,0.0,100.0
Nairobi,0.0,100.0,0.2,100.0
Nakuru,0.0,100.0,0.4,100.0
Nandi,0.0,100.0,0.0,100.0
Narok,1.0,100.0,0.0,100.0
Nyamira,0.0,100.0,0.2,100.0
Nyandarua,0.1,100.0,0.4,100.0
Nyeri,0.0,100.0,0.0,100.0
Samburu,0.0,100.0,0.3,100.0
Siaya,0.2,100.0,0.4,100.0
Taita Taveta,0.4,100.0,0.2,100.0
Tana River,0.0,100.0,0.2,100.0
Tharaka-Nithi,0.0,100.0,0.5,100.0
Trans-Nzoia,0.0,100.0,0.1,100.0
Turkana,0.0,100.0,0.0,100.0
Uasin Gishu,0.0,100.0,0.1,100.0
Vihiga,0.8,100.0,0.3,100.0
Wajir,0.0,100.0,0.0,100.0
West Pokot,0.0,100.0,0.0,100.0

In [77]:
'''
# slice on country
gender_gap = gender_gap(gender_gap ['LevelRank' == 2])

# view Gender disparity data
gender_gap.sample(5)
'''

"\n# slice on country\ngender_gap = gender_gap(gender_gap ['LevelRank' == 2])\n\n# view Gender disparity data\ngender_gap.sample(5)\n"

Education Vs. Literacy: Does having a secondary or higher education strongly correlatewith literacy rate among women in differnt regions?

Urban vs Rural Divide: Are literarcy and eductionlevels significantly higher in urban regions compared to  rural regions?

Barriers to Literacy : How prevelant are language barriers and visual impairments in limiting literacy rate for women across regions?