In [1]:
import pandas as pd

In [2]:
file_path = r"C:\Users\omweg\Desktop\Data Analysis\kenya-accidents-database1.csv"

accidents_data = pd.read_csv(file_path)

In [3]:
accidents_data.head()

,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,MV INVOLVED,BRIEF ACCIDENT DETAILS,NAME OF VICTIM,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date DD/MM/YYYY,Unnamed: 14
0,745,KISUMU,KISUMU,NAIROBI-BUSIA,KASAGAM FLY OVER,KBS 163T/ZD 9531 AXIOR TRAILER,THE VEHICLE LOST CONTROL AND HIT BARRIER LANDI...,UNKNOWN,F,A,29.0,PASSENGER,1.0,11/6,6/11
1,1430,NAROK,NAROK,NAROK-MAU,NAROK TOWN,KBS 518A HONDA CRV,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,80,68.0,PEDESTRIAN,1.0,11/6,NaN
2,1515,LONDIANI,KERICHO,KERICHO-NAKURU,JUBERT AREA,KTCB 472K JOHN DEER,"THE VEHICLE LOST CONTROL,VEERING OFF THE ROAD ...",UNKNOWN,M,25,26.0,DRIVER,1.0,11/6,NaN
3,1600,KIMILILI,BUNGOMA,BOKOLI-KIMILILI,BITUYU AREA,KBW 374M TOYOTA TOWNACE,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,31,7.0,PEDESTRIAN,1.0,11/6,NaN
4,1747,NAKURU,NAKURU,PIPELINE ELEMENTAITA,PIPELINE AREA,KMDQ 433R DAYAN & KAR 843W,THE VEHICLE HIT THE MOTOR CYCLE,UNKNOWN,M,23,29.0,M/CYCLIST,1.0,11/6,NaN

In [5]:
# view the data metrics
accidents_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TIME 24 HOURS           737 non-null    object
 1   BASE/SUB BASE           738 non-null    object
 2   COUNTY                  739 non-null    object
 3   ROAD                    737 non-null    object
 4   PLACE                   734 non-null    object
 5   MV INVOLVED             740 non-null    object
 6   BRIEF ACCIDENT DETAILS  740 non-null    object
 7   NAME OF VICTIM          740 non-null    object
 8   GENDER                  740 non-null    object
 9   AGE                     739 non-null    object
 10  CAUSE CODE              718 non-null    float64
 11  VICTIM                  740 non-null    object
 12  NO.                     736 non-null    float64
 13  Date DD/MM/YYYY         740 non-null    object
 14  Unnamed: 14             1 non-null      object
dtypes: float64(2), object(13)
memory usage: 86.8+ KB

In [6]:
accidents_data.describe()

       CAUSE CODE         NO.
count  718.000000  736.000000
mean    47.682451    1.199728
std     33.091682    1.078951
min      4.000000    1.000000
25%     19.250000    1.000000
50%     37.000000    1.000000
75%     76.000000    1.000000
max     99.000000   18.000000

Data Cleaning

In [56]:
accident= accidents_data
accident

,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,MV INVOLVED,BRIEF ACCIDENT DETAILS,NAME OF VICTIM,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date DD/MM/YYYY,Unnamed: 14
0,745,KISUMU,KISUMU,NAIROBI-BUSIA,KASAGAM FLY OVER,KBS 163T/ZD 9531 AXIOR TRAILER,THE VEHICLE LOST CONTROL AND HIT BARRIER LANDI...,UNKNOWN,F,A,29.0,PASSENGER,1.0,11/6,6/11
1,1430,NAROK,NAROK,NAROK-MAU,NAROK TOWN,KBS 518A HONDA CRV,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,80,68.0,PEDESTRIAN,1.0,11/6,NaN
2,1515,LONDIANI,KERICHO,KERICHO-NAKURU,JUBERT AREA,KTCB 472K JOHN DEER,"THE VEHICLE LOST CONTROL,VEERING OFF THE ROAD ...",UNKNOWN,M,25,26.0,DRIVER,1.0,11/6,NaN
3,1600,KIMILILI,BUNGOMA,BOKOLI-KIMILILI,BITUYU AREA,KBW 374M TOYOTA TOWNACE,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,31,7.0,PEDESTRIAN,1.0,11/6,NaN
4,1747,NAKURU,NAKURU,PIPELINE ELEMENTAITA,PIPELINE AREA,KMDQ 433R DAYAN & KAR 843W,THE VEHICLE HIT THE MOTOR CYCLE,UNKNOWN,M,23,29.0,M/CYCLIST,1.0,11/6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,1730,KURIA,MIGORI,NTIMARU-KEHANCHA,TARANGANYA SHOPPING CENTRE,GK B 529 ISUZU DMAX & M/J/PED,THE VEHICLE KNOCKED DOWN A PEDESTRIAN,CHARLES MUNATI,M,J,36.0,PEDESTRIAN,1.0,2/22,NaN
736,1930,SAGANA,KIRINYAGA,KENOL-MAKUTANO,WACHORO AREA,KBU 591M/ZF 5724 SCANIA & KMEA 508C TIGER,THE CYCLE HIT THE STATIONARY VEHICLE,UNKNOWN,M,A,37.0,RIDER AND P/PASSENGER,2.0,2/22,NaN
737,2145,DTEO KASARANI,NAIROBI,THIKA RD,CAR WASH AREA,KCH 357W T/IST & M/A/PED,THE VEHICLE KNOCKED DOWN A PEDESTIRAN,COLLINS KIARIE,M,20,98.0,PEDESTRIAN,1.0,2/22,NaN
738,2039,KANGUNDO,MAKUENI,NAIROBI-KANGUNDO,MAKENZIE AREA,KCC 374L HINO MINIBUS & KMCG 188U SKYGO,THE VEHICLE COLLIDED HEAD ON WITH THE M/CYCLE,BENARD MUTUNGA,M,36,82.0,RIDER,1.0,2/22,NaN
739,139,DTEO DAGORETI,NAIROBI,WAIYAKI WAY,KANGEMI STAGE,KBR 741X HONDA CRV & M/A/PED,THE VEHICLE KNOCKED DOWN A PEDESTRIAN,UNKNOWN,M,A,98.0,PEDESTRIAN,1.0,2/22,NaN

In [70]:
# Drop unnecessary columns
accident= accidents_data.drop(['Unnamed: 14'], axis=1)

# Change name of column
accident_df = accident.rename(columns={'Date DD/MM/YYYY': 'Date'})
accident_df_1 = accident_df
'''
# Change 'Date' column to string
accident_df_1["Date"] = accident_df_1["Date"].astype(str)

def fix_missing_year(date):
    if pd.isnull(date) or date.year < 2000:  # Identify missing or incorrect years
        return pd.to_datetime(date.strftime("%d%m") + "2017", format="%d%m%Y", errors="coerce")
    return date

# Apply the function to fix missing years
accident_df_1["Date"] = accident_df_1["Date"].apply(fix_missing_year)

# Convert to final datetime format %d%m%Y
accident_df_1["Date"] =  pd.to_datetime(accident_df_1.Date, format = "%d/%m/%Y")

# Function to reformat dates not in 2017
def reformat_non_2017_dates(date):
    if pd.notna(date) and date != 2017:
        return date.strftime("%d%m")  # Convert to day + month format
    return date  # Keep 2017 dates unchanged

# Apply transformation
accident_df["Date"] = accident_df["Date"].apply(reformat_non_2017_dates)

# Convert 'Date' column to datetime format, coercing errors
accident_df_1["Date"] = pd.to_datetime(accident_df["Date"], errors="coerce", dayfirst=True)



# Apply transformation
accident_df["Date"] = accident_df["Date"].apply(reformat_non_2017_dates)

# Convert back to datetime after modification
def fix_missing_year(date):
    if isinstance(date, str):  # Check if date is a string
        return pd.to_datetime(date + "2017", format="%d%m%Y", errors="coerce")
    return date  # Keep existing datetime values

# Apply the function to fix missing years
accident_df["Date"] = accident_df["Date"].apply(fix_missing_year)

# Convert to final datetime format %d%m%Y
accident_df["Date"] = accident_df["Date"].dt.strftime("%d%m%Y")
'''

'\n# Change \'Date\' column to string\naccident_df_1["Date"] = accident_df_1["Date"].astype(str)\n\ndef fix_missing_year(date):\n    if pd.isnull(date) or date.year < 2000:  # Identify missing or incorrect years\n        return pd.to_datetime(date.strftime("%d%m") + "2017", format="%d%m%Y", errors="coerce")\n    return date\n\n# Apply the function to fix missing years\naccident_df_1["Date"] = accident_df_1["Date"].apply(fix_missing_year)\n\n# Convert to final datetime format %d%m%Y\naccident_df_1["Date"] =  pd.to_datetime(accident_df_1.Date, format = "%d/%m/%Y")\n\n# Function to reformat dates not in 2017\ndef reformat_non_2017_dates(date):\n    if pd.notna(date) and date != 2017:\n        return date.strftime("%d%m")  # Convert to day + month format\n    return date  # Keep 2017 dates unchanged\n\n# Apply transformation\naccident_df["Date"] = accident_df["Date"].apply(reformat_non_2017_dates)\n\n# Convert \'Date\' column to datetime format, coercing errors\naccident_df_1["Date"] = pd.to_datetime(accident_df["Date"], errors="coerce", dayfirst=True)\n\n\n\n# Apply transformation\naccident_df["Date"] = accident_df["Date"].apply(reformat_non_2017_dates)\n\n# Convert back to datetime after modification\ndef fix_missing_year(date):\n    if isinstance(date, str):  # Check if date is a string\n        return pd.to_datetime(date + "2017", format="%d%m%Y", errors="coerce")\n    return date  # Keep existing datetime values\n\n# Apply the function to fix missing years\naccident_df["Date"] = accident_df["Date"].apply(fix_missing_year)\n\n# Convert to final datetime format %d%m%Y\naccident_df["Date"] = accident_df["Date"].dt.strftime("%d%m%Y")\n'

In [ ]:
# Add the year 2017 to the Date column
accident_df_1['Date'] = accident_df_1['Date'].apply(lambda x: f"{x}/2017")

# Convert the Date column to datetime format
accident_df_1['Date'] = pd.to_datetime(accident_df_1['Date'], format='%d/%m/%Y', errors='coerce')

# Display the updated dataframe
accident_df_1.head()

,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,MV INVOLVED,BRIEF ACCIDENT DETAILS,NAME OF VICTIM,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date
0,745,KISUMU,KISUMU,NAIROBI-BUSIA,KASAGAM FLY OVER,KBS 163T/ZD 9531 AXIOR TRAILER,THE VEHICLE LOST CONTROL AND HIT BARRIER LANDI...,UNKNOWN,F,A,29.0,PASSENGER,1.0,NaT
1,1430,NAROK,NAROK,NAROK-MAU,NAROK TOWN,KBS 518A HONDA CRV,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,80,68.0,PEDESTRIAN,1.0,NaT
2,1515,LONDIANI,KERICHO,KERICHO-NAKURU,JUBERT AREA,KTCB 472K JOHN DEER,"THE VEHICLE LOST CONTROL,VEERING OFF THE ROAD ...",UNKNOWN,M,25,26.0,DRIVER,1.0,NaT
3,1600,KIMILILI,BUNGOMA,BOKOLI-KIMILILI,BITUYU AREA,KBW 374M TOYOTA TOWNACE,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,31,7.0,PEDESTRIAN,1.0,NaT
4,1747,NAKURU,NAKURU,PIPELINE ELEMENTAITA,PIPELINE AREA,KMDQ 433R DAYAN & KAR 843W,THE VEHICLE HIT THE MOTOR CYCLE,UNKNOWN,M,23,29.0,M/CYCLIST,1.0,NaT

:

In [72]:
# Fill missing dates by appending the year 2017
accident_df_1["Date"] = accident_df_1["Date"] .fillna(pd.to_datetime("2017", format="%Y"))
accident_df_1.sample(15)

,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,MV INVOLVED,BRIEF ACCIDENT DETAILS,NAME OF VICTIM,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date
559,1955,MATUU,MACHAKOS,MATUU-THIKA,YATTA GK PRISONS AREA,KBQ 851V T/MATATU,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,48,61.0,PEDESTRIAN,1.0,05/12
203,1150,NAROMORU,NYERI,NYERI NANYUKI ROAD,AT AIRSTRIP AREA,KAM 084N L/ROVER & KMCL 787D,HEAD ON COLLSION,UNKNOWN,M,45,79.0,M/CYCLIT,1.0,15/08/2017
485,2230,TIGONI,KIAMBU,LIMURU KIAMBU ROAD,MUTISI JUCNTION,M/V KBB 168W T/110 & KBM 568H TIPPER LORRY,THE M/V TOYOTA 110 FAILED TO GOVE WAY AND WAS ...,DANIEL GACHIGUA,M/F,A,25.0,DRIVER PASSENGER,NaN,6/17
733,930,MOGOTIO,BARINGO,EMINING-OTERIT RD,OTERIT AREA,UNKNOWN,THE UNKNOWN VEHICLE KNOCKED DOWN A PEDESTRIAN,RODGERS CHERUTICH,M,31,30.0,PEDESTRIAN,1.0,2/22
72,900,ATHI RIVER,MACHAKOS,NAIROBI MOMBASA ROAD,MLOLONGO WEIGHBRIDGE,KCE 112A I/M/BUS,THE VEHICLE KNOCKED DOWN THE VICTIM,ORPHA KHAVELS,F,A,61.0,PEDESTRIAN,1.0,16/10/2017
366,2345,GARISSA,GARISSA,GARISSA MWINGI,MADOGO AREA,KBV 922T V/WAGEN GOLF,THE VEHICLE LOST CONTROL AND PLUGGED INTO TANA...,UNKNOWN,M,A,98.0,PASSENGER,1.0,7/16
364,1900,LARI,KIAMBU,NAIROBI NAIVASHA,RAKUMA AREA,UNKNOWN,HIT AND RUN,UNKNOWN,M,26,60.0,PEDESTRIAN,1.0,7/16
385,600,KAYOLE,NAIROBI,KANGUNDO ROAD,NEAR SHELL PETROL STATION,KBP MITSUBISH CANTER,THE VEHICLE KNOCKED DOWN A VICTIM,UNKNOWN,F,20,60.0,PEDESTRIAN,1.0,07/12
342,1930,VIHIGA,VIHIGA,CHAVAKALI KAPSABET,JEPTULU TRADING CENTRE,KBV 072X SCANIA BUS & UNKNOWN M/CYCLE,THE VICTIM JUMPED FROM THE MOVING CYCLE AND WA...,UNKNOWN,F,13,71.0,P/PASSENGER,1.0,7/22
392,1000,KABRAS,KAKAMEGA,KAKAMEGA-WEBUYE,MATSAKHA AREA,KAL 326L T/G-TOURING & KMED 965G SKYGO,THE VEHICLE KNOCKED DOWN THE M/CYCLE,WYCLIFF JUMA,M,44,29.0,M/CYCLIST,1.0,07/10
708,300,MTITO-ANDEI,TAITA-TAVETA,NAIROBI-MOMBASA,TALEH AREA,KBH 165V NISSAN UD BUS & KMCR 765X SKYGO,THE VEHICLE LOST CONTROL AND KNOCKED DOWN THE ...,"PATRICK KILONZO, DOLCAS KILONZO",M&F,"40,38,45",8.0,"PASSENGER ,RIDER, P/PASSENGER",3.0,03/09
129,2000,AHERO,KISUMU,AHERO AWASI,KABONGO,KBE 557Y TOYOTA HILLUX,THE VEHICLE LOST CONTROL AND ROLLED SEVERAL TIMES,UNKNOWN,M,A,26.0,PASSENGER,2.0,09/11
51,1330,BURUBURU,NAIROBI,BARAKA ROAD,NEAR SUPA LOAF PRIMARY SCHOOL,KBU 207P FOTON LORRY,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,58,98.0,PEDESTRIAN,1.0,23/10/2017
729,1230,KITALE,TRANS NZOIA,KITALE KILONGOLO,NAMANJALA,KBV 505H TOYOTA P/UP,THE VEHICLE RAN OVER THE P/PASSENGER,UNKNOWN,M,A,98.0,P/PASSENGER,1.0,2/28
575,2100,OTHAYA,NYERI,OTHAYA-RURUGUTI,NYAMARI,KMDZ 594K TIGERS & KMCQ 807E TIGERS,HEAD ON COLLISION,UNKNOWN,M,A,26.0,MOTOR CYCLIST,1.0,4/25

In [61]:
accident_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TIME 24 HOURS           737 non-null    object
 1   BASE/SUB BASE           738 non-null    object
 2   COUNTY                  739 non-null    object
 3   ROAD                    737 non-null    object
 4   PLACE                   734 non-null    object
 5   MV INVOLVED             740 non-null    object
 6   BRIEF ACCIDENT DETAILS  740 non-null    object
 7   NAME OF VICTIM          740 non-null    object
 8   GENDER                  740 non-null    object
 9   AGE                     739 non-null    object
 10  CAUSE CODE              718 non-null    float64
 11  VICTIM                  740 non-null    object
 12  NO.                     736 non-null    float64
 13  Date                    740 non-null    object
dtypes: float64(2), object(12)
memory usage: 81.1+ KB

In [62]:
accident_df_1

,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,MV INVOLVED,BRIEF ACCIDENT DETAILS,NAME OF VICTIM,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date
0,745,KISUMU,KISUMU,NAIROBI-BUSIA,KASAGAM FLY OVER,KBS 163T/ZD 9531 AXIOR TRAILER,THE VEHICLE LOST CONTROL AND HIT BARRIER LANDI...,UNKNOWN,F,A,29.0,PASSENGER,1.0,11/6
1,1430,NAROK,NAROK,NAROK-MAU,NAROK TOWN,KBS 518A HONDA CRV,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,80,68.0,PEDESTRIAN,1.0,11/6
2,1515,LONDIANI,KERICHO,KERICHO-NAKURU,JUBERT AREA,KTCB 472K JOHN DEER,"THE VEHICLE LOST CONTROL,VEERING OFF THE ROAD ...",UNKNOWN,M,25,26.0,DRIVER,1.0,11/6
3,1600,KIMILILI,BUNGOMA,BOKOLI-KIMILILI,BITUYU AREA,KBW 374M TOYOTA TOWNACE,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,31,7.0,PEDESTRIAN,1.0,11/6
4,1747,NAKURU,NAKURU,PIPELINE ELEMENTAITA,PIPELINE AREA,KMDQ 433R DAYAN & KAR 843W,THE VEHICLE HIT THE MOTOR CYCLE,UNKNOWN,M,23,29.0,M/CYCLIST,1.0,11/6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,1730,KURIA,MIGORI,NTIMARU-KEHANCHA,TARANGANYA SHOPPING CENTRE,GK B 529 ISUZU DMAX & M/J/PED,THE VEHICLE KNOCKED DOWN A PEDESTRIAN,CHARLES MUNATI,M,J,36.0,PEDESTRIAN,1.0,2/22
736,1930,SAGANA,KIRINYAGA,KENOL-MAKUTANO,WACHORO AREA,KBU 591M/ZF 5724 SCANIA & KMEA 508C TIGER,THE CYCLE HIT THE STATIONARY VEHICLE,UNKNOWN,M,A,37.0,RIDER AND P/PASSENGER,2.0,2/22
737,2145,DTEO KASARANI,NAIROBI,THIKA RD,CAR WASH AREA,KCH 357W T/IST & M/A/PED,THE VEHICLE KNOCKED DOWN A PEDESTIRAN,COLLINS KIARIE,M,20,98.0,PEDESTRIAN,1.0,2/22
738,2039,KANGUNDO,MAKUENI,NAIROBI-KANGUNDO,MAKENZIE AREA,KCC 374L HINO MINIBUS & KMCG 188U SKYGO,THE VEHICLE COLLIDED HEAD ON WITH THE M/CYCLE,BENARD MUTUNGA,M,36,82.0,RIDER,1.0,2/22
739,139,DTEO DAGORETI,NAIROBI,WAIYAKI WAY,KANGEMI STAGE,KBR 741X HONDA CRV & M/A/PED,THE VEHICLE KNOCKED DOWN A PEDESTRIAN,UNKNOWN,M,A,98.0,PEDESTRIAN,1.0,2/22

In [50]:
accident_df.sample(15)

,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,MV INVOLVED,BRIEF ACCIDENT DETAILS,NAME OF VICTIM,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date
722,800,NAIVASHA,NAKURU,NAIVASHA KINANGOP,KINAMBA AREA,UNKNOWN M/V,HIT AND RUN,UNKNOWN,M,45,98.0,PEDESTRIAN,1.0,03/01
230,1730,BUSIA,BUSIA,BUTULA-MUMIAS,TONGILO,KCL 801U TOYOTA PROBOX,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,F,5,98.0,PEDESTRIAN,1.0,08/10
434,1100,MALABA,BUNGOMA,BUNGOMA-MALABA,IKAPOLOK,KAX 113V/ZC 5317 M/BENZ AND KMDZ 746Q TVS,THE VEHICLE HIT THE M/CYCLE,HARRISON MAKAU,M,A,10.0,PASSENGER,1.0,07/03
211,440,KILIMANI,NAIROBI,NGONG ROAD,ADAMS ARCADE,KCK 383K TOYOTA BELTA,THE VEHICLE KNOCKED DOWN THE VICTIM,MIRIAM WANJIRU,F,40,7.0,PEDESTRIAN,1.0,08/12
299,1900,NAKURU,NAKURU,NAKURU-NAIROBI,FREE AREA,GKB 813D FORD RANGER,THE VEHICLE KNOCKED DOWN A VICTIM,UNKNOWN,M,A,90.0,PEDSTIRAN,1.0,7/29
594,1600,BARINGO,BARINGO,TALAI KAPTUM MURRAM ROAD,KABARTONJO AREA,KAN 356X TOYOTA HILUX P/UP,THE M/V HIT A M/A PEDESTRIAN TRIED TO STEAL A ...,UNKNOWN,M,20,72.0,PEDESTRIAN,1.0,3/30
262,2140,MATUU,MACHAKOS,MATUU-MWINGI,EKALAKALA,KAZ587Q TOYOTA DUET,KNOCKED DOWN A PEDESTRIAN,WILLIAM MUTISYA,M,A,8.0,PEDESTRIAN,1.0,08/03
625,1730HRS,MAKONGENI,NAIROBI,LADHIS,SAKWA JUNCTION,"KCL 239A FH, KMGB 748V SKYGO",THE LORRY HIT THE M/CYCLIST FROM BEHIND AND DI...,UNKNOWN,M,26,63.0,M/CYCLIST,1.0,3/24
275,930,OYUGIS,HOMA BAY,OYUGIS-KISUMU,SIKRI AREA,KMDV 961Q BOXER & KCG 425R/ZD 7568 MAN TRAILER,THE VICTIM WAS RAN OVER BY THE SAID VEHICLE,RICHARD OUMA,M,19,98.0,M/CYCLIST,1.0,08/01
542,1730,STAREHE,NAIROBI,THIKA SUPERHIGHWAY,NEAR MUTHAIGA FOOT BRIDGE,KBB 181J TOYOTA PRADO,M/V KNOCKED DOWN UNKNOWN M/A PEDESTRIAN KILLIN...,UNKNOWN,M,A,63.0,PEDESTRIAN,1.0,5/14
189,930,MTITO ANDEI,MAKUENI,MOMBASA NAIROBI,KYULU AREA,UNKNOWN M/V,HIT & RUN,UNKNOWN,M,A,63.0,PEDESTRIAN,1.0,19/08/2017
356,2030,KAPSABET,NANDI,ELDORET KAPSABET,KOSIRAI,KBV 335Y NISSAN VANETTE,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,10.0,PEDESTRIAN,1.0,7/19
265,1900,SUBA,HOMABAY,MBITA-HOMABAY,OGONGO,UNKNOWN MOTOR CYCLE,HIT AND RUN,UNKNOWN,M,J,26.0,PEDESTRIAN,1.0,08/03
394,2030,BUSIA,BUSIA,KISUMU-BUSIA,MATAYOS AREA,KCK 136C ISUZU LORRY & KMCT 222R BOXER,THE VEHICLE COLLIDED HEAD ON WITH THE M/CYCLE,SEBEDI OBUDI,M,26,39.0,M/CYCLIST,1.0,07/10
148,2200,SULTAN HAMUD,MAKUENI,MOMBASA NAIROBI,LOITOKTOK JUNCTION,KMEA 242A SKYGO,THE VICTIM FELL DOWN FROM THE CYCLE,MAGRET KALAMA,F,45,50.0,P/PASSENGER,1.0,09/03

In [26]:
# Drop unnecessary columns
accidents= accidents_data.drop(['Unnamed: 14'], axis=1)

# Change name of column
accidents = accidents.rename(columns={'Date DD/MM/YYYY': 'Date'})

# Change date column to datetime
accidents['Date'] = pd.to_datetime(accidents['Date'], format='%d/%m/%Y')
# Add year to date column
accidents['Date'] = accidents_data['Date'].fillna(pd.to_datetime(2017, format='%Y'))

ValueError: time data "11/6" doesn't match format "%d/%m/%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [9]:
#view datset
accidents.sample(5)

,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,MV INVOLVED,BRIEF ACCIDENT DETAILS,NAME OF VICTIM,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date DD/MM/YYYY
155,1320,LARI,KIAMBU,NAIROBI-NAIVASHA,KIMENDE STAGE,KBL 976B MATATU (2NK SACCO),THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,69,60.0,PEDESTRIAN,1.0,30/08/2017
43,1000,TARAKWA,NAKURU,ELDORET-NAKURU,BAYETE AREA,KBC 234C/ZA 7408 ACTROS TRAILER,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,25,68.0,PEDESTRIAN,1.0,27/10/2017
117,30,MURANGA,MURANGA,MURANGA KANGEMA,ST MARY AREA,KAD 056H N/SUNNY & KMCK 872N JIALING,HEAD ON COLLISION,KEVIN,M,20,8.0,M/CYCLIST,1.0,17/09/2017
370,30,EMBAKASI,NAIROBI,MOMBASA ROAD,IMARA DAIMA AREA,KBS 702E V/WAGEN,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,98.0,PEDESTRIAN,1.0,7/16
284,1130,KENDU BAY,HOMABAY,KENDU BAY TOWN SHIP,KENDU BAY/OYUGIS JUNCTION,KCA 220R M/TIPPER & PEDESTRIAN & KBX 265H N/SA...,LOST CONTROL AND RAMMED ON ANOTHER VEHICLE,ELPHAS WEKHULO,M,28,63.0,PEDESTRIAN,1.0,7/30

In [10]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TIME 24 HOURS           737 non-null    object
 1   BASE/SUB BASE           738 non-null    object
 2   COUNTY                  739 non-null    object
 3   ROAD                    737 non-null    object
 4   PLACE                   734 non-null    object
 5   MV INVOLVED             740 non-null    object
 6   BRIEF ACCIDENT DETAILS  740 non-null    object
 7   NAME OF VICTIM          740 non-null    object
 8   GENDER                  740 non-null    object
 9   AGE                     739 non-null    object
 10  CAUSE CODE              718 non-null    float64
 11  VICTIM                  740 non-null    object
 12  NO.                     736 non-null    float64
 13  Date DD/MM/YYYY         740 non-null    object
dtypes: float64(2), object(12)
memory usage: 81.1+ KB

In [14]:
accidents.head()

,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,MV INVOLVED,BRIEF ACCIDENT DETAILS,NAME OF VICTIM,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date
0,745,KISUMU,KISUMU,NAIROBI-BUSIA,KASAGAM FLY OVER,KBS 163T/ZD 9531 AXIOR TRAILER,THE VEHICLE LOST CONTROL AND HIT BARRIER LANDI...,UNKNOWN,F,A,29.0,PASSENGER,1.0,11/6
1,1430,NAROK,NAROK,NAROK-MAU,NAROK TOWN,KBS 518A HONDA CRV,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,80,68.0,PEDESTRIAN,1.0,11/6
2,1515,LONDIANI,KERICHO,KERICHO-NAKURU,JUBERT AREA,KTCB 472K JOHN DEER,"THE VEHICLE LOST CONTROL,VEERING OFF THE ROAD ...",UNKNOWN,M,25,26.0,DRIVER,1.0,11/6
3,1600,KIMILILI,BUNGOMA,BOKOLI-KIMILILI,BITUYU AREA,KBW 374M TOYOTA TOWNACE,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,31,7.0,PEDESTRIAN,1.0,11/6
4,1747,NAKURU,NAKURU,PIPELINE ELEMENTAITA,PIPELINE AREA,KMDQ 433R DAYAN & KAR 843W,THE VEHICLE HIT THE MOTOR CYCLE,UNKNOWN,M,23,29.0,M/CYCLIST,1.0,11/6

In [29]:
accident.sample(15)

,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,MV INVOLVED,BRIEF ACCIDENT DETAILS,NAME OF VICTIM,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date
618,NAROK,NaN,NAROK,NAROK- BOMET,OLOLUNGA TRADING CENTRE,33CG037A T/L/CRUISER & M/C KMCS 638Y SKYGO,THE T/L/CRUISER HIT THE M/CYCLIST KILLING THE ...,UNKNOWN,M,23,8.0,RIDER,1.0,3/25
736,1930,SAGANA,KIRINYAGA,KENOL-MAKUTANO,WACHORO AREA,KBU 591M/ZF 5724 SCANIA & KMEA 508C TIGER,THE CYCLE HIT THE STATIONARY VEHICLE,UNKNOWN,M,A,37.0,RIDER AND P/PASSENGER,2.0,2/22
123,1200,KAPENGURIA,WEST POKOT,MAKUTANO KITALE ROAD,NaN,KCK 447V TOWNACE & KMEA 970L,HEAD ON COLLISION,FRANCIA LONGOLOKO,M,A,8.0,M/CYCLIST,1.0,13/09
714,1230,SALAMA,MAKUENI,NAIROBI-MOMBASA,OLD DC MUKAA OFFICE AREA,KCJ 590V SUBARU LEGACY &KCH 357S/ZE 2175 RENAU...,THE VEHICLE COLLIDED HEAD ON WITH THE TRAILER,UNKNOWN,M,4MTS,10.0,PASSENGER,1.0,03/07
312,1520,KISII,KISII,KISII-KILGORIS,KIOGORO AREA,"KBN 617C T/PROBOX ,KCD 290D T/MATATU & KMDB 31...",THE PROBOX BREAKS FAILED LOST CONTROL HITTING ...,UNKNOWN,M,A,78.0,2 PASSENGERS & P/PASSENGER,3.0,7/27
715,1230,VIHIGA,VIHIGA,KISUMU-KAKAMEGA,TIGOI AREA,KAX 721M TOYOTA MATATU & KMDM 840K BAJAJ,THE VEHICLE COLLIDED HEAD ON WITH THE M/CYCLE,UNKNOWN,M,A,8.0,M/CYCLIST & P/PASSENGER,2.0,03/07
19,1730,MATUU,MACHAKOS,KANYONYO-EMBU,KIYAA,KCK 659P T/PROBOX,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,7.0,PEDESTRIAN,1.0,11/2
204,1930,KISERIAN,KAJIADO,KISERIAN MAGADI,MLIMA CHAIR LADY AREA,KBW 931Z MITSUBISHI FUSO LORRY & KCD 890S TOYO...,HEAD ON COLLSION,UNKNOWN,M,16,8.0,PASSENGER,1.0,14/08
165,1700,MUMIAS,KAKAMEGA,MUMIAS EBUYANGU,EBBWARIRO,KCL 624X TOYOTA PROBOX,THE VEHICLE GOT A TYRE BURST AND ROLLED SEVERA...,UNKNOWN,F,A,54.0,PASSENGER,2.0,27/08
590,2330,KIKUYU,KIAMBU,NAIVASHA -NAIROBI,ZAMBEZI AREA,KAK 769X NISSAN LORRY & KMCR 502W BOXER,THE VEHICLE COLLIDED HEAD ON WITH THE M/CYCLIST,UNKNOWN,M,33,57.0,M/CYCLIST,1.0,3/31
515,2140,KISIUMU,KISUMU,KISUMU- NAIROBI,NEAR KASAGAM FLY OVER,KAS 548E TOYOTA SALOON,M/V DRIVER KNOCHED DOWN A M/A PEDESTRIAN KILLI...,UNKNOWN,M,35,68.0,PEDESTRIAN,1.0,5/21
5,1830,ONGATA RONGAI,KAJIADO,MAGADI ROAD,CHAPCHAP AREA,KBG 936M T/MATATU & KMDT 551U BOXER,THE VEHICLE RAMMED INTO THE MOTOR CYCLE,UNKNOWN,F,30,18.0,P/PASSENGER,1.0,11/6
652,430,DTEO KAYOLE,NAIROBI,KANGUNDO RD,SHELL PETROL STATION NEAR NJIRU T CENTRE,UNKNOWN M/V & PEDS,THE UNKNOWN VEHICLE KNOCKED DOWN A PEDESTRIAN,PAULINE ACHIENG,F,40,98.0,PEDESTRIAN,1.0,3/19
588,2100,NAMANGA,KAJIADO,METO-MAILI TISA MURRAM ROAD,MALI AREA,KAU 412J ISUZU LORRY,"THE VEHICLE LOST CONTROL , VEERED OFF THE ROAD...",UNKNOWN,M,19,80.0,PASSENGER,1.0,3/31
695,230,ATHI RIVER,MACHAKOS,NAIROBI MOMBASA,MLOLONGO AREA,KBH 233M TOYOTA HARRIER,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,60.0,PEDESTRIAN,1.0,03/11

In [23]:
accidents_data.sample(15)

,TIME 24 HOURS,BASE/SUB BASE,COUNTY,ROAD,PLACE,MV INVOLVED,BRIEF ACCIDENT DETAILS,NAME OF VICTIM,GENDER,AGE,CAUSE CODE,VICTIM,NO.,Date DD/MM/YYYY,Unnamed: 14
518,600,DTEO STAREHE,NAIROBI,THIKA SUPERHIGHWAY,NEAR JUBILEE HOUSE,UNKNOWN M/V AND M/A/PED,M/V HIT UNKNOWN M/A/PEDESTRIAN WHO WAS CROSING...,UNKNOWN,M,A,98.0,PEDESTRIAN,1.0,5/20,NaN
93,2210,DAGORETTI,NAIROBI,WAIYAKI WAY,KANGEMI FLYOVER,KCH 039E TOYOTA MATATU,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,60.0,PEDESTRIAN,1.0,21/09/2017,NaN
224,2300,MAGUMU,NYANDARUA,FLYOVER NJAMBINI ROAD,MWENDANDU TRADIND CENTRE,KMCL 800W,THE CYCLE KNOCKED DOWN THE VICTIM AND LANDED I...,UNKNOWN,M,A,68.0,PEDESTRIAN,1.0,08/11,NaN
661,2120,MAKINDU,MAKUENI,MSA-NRB,NEAR MASIMBA SGR STN,KCA 685V T/PASSO @KCG 706E/ZF 3418 M M/BENZ,THE MOTOR VEHICLE HIT THE REAR WHEEL OF THE TR...,UNKNOWN,M,A,8.0,DRIVER,1.0,3/18,NaN
563,1330,NYERI,NYERI,CHAKA-KIGANJO,CHAKA SHOPPING CENTER,KCH 430J MITSUBISHI CANTER & KTWB 598E PIAGGIO,HEAD ON COLLISION,UNKNOWN,M,A,8.0,DRIVER,1.0,05/04,NaN
185,830,GIGIRI,NAIROBI,WAIYAKI WAY,ABC AREA,KBS 142K ISUZU M/BUS,THE PASSENGER JUMPED OUT OFF THE VEHICLE AND F...,UNKNOWN,M,A,58.0,PASSENGER,1.0,20/08/2017,NaN
176,2300,SOTIK,BOMET,KAPLONG BOMET,MIGINGO,"KBU 177P ISUZU NPR,KMDZ 239Z BOXER",HEAD ON COLLISION,UNKNOWN,M,A,8.0,M/CYCLIST,1.0,27/08/2017,NaN
670,330,MACHAKOS,MACHAKOS,MOMBASA NAIROBI,KONZA AREA,KBU 743D/ZE 1567 M/BENZ TRAILER & KCC 683W ISU...,HEAD ON COLLISION,UNKNOWN,M,A,98.0,DRIVER,1.0,3/17,NaN
342,1930,VIHIGA,VIHIGA,CHAVAKALI KAPSABET,JEPTULU TRADING CENTRE,KBV 072X SCANIA BUS & UNKNOWN M/CYCLE,THE VICTIM JUMPED FROM THE MOVING CYCLE AND WA...,UNKNOWN,F,13,71.0,P/PASSENGER,1.0,7/22,NaN
318,700,KITALE,TRAN NZOIA,KITALE ELDORET,SIYENGA AREA,KCC 945W MITSUBISHI TANKER & KMDH 259P HONDA,THE VEHICLE COLLIDED HEAD ON WITH MOTOR CYCLE,JOHN SIMIYU,M,52,10.0,M/CYCLIST,1.0,7/26,NaN
632,1830,ELDORET,UASIN GISHU,WITHIN UASIN GISHU,PLATEAU GIRLS HIGH SCHOOL,KBJ 538Q ISUZU BUS & F/J/PASSENGER,THE VEHICLE DRAGGED THE VICTIM,FAITH CHESERECK,F,16,70.0,PASSENGERS,1.0,3/23,NaN
70,1400,BONDO,SIAYA,BONDO USENGE,AT ODONGO JUNCTION,KBD 341W TANKER,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,10,59.0,PEDESTRIAN,1.0,18/10/2017,NaN
48,1200,GARISSA,GARISSA,SOKO NG'OMBE BULA RIGI EARTH ROAD,BULARIGI AREA,KBK 998X ISUZU CXZ LORRY & KMEC 944U TVS STAR,THE VEHICLE KNOCKED DOWN THE VICTIM,UNKNOWN,M,A,19.0,P/PASSENGER,1.0,23/10/2017,NaN
522,1700,BUTERE,KISUMU,SAB ATIA EKERO RD,UNSPECIFIED,"M/V KCG 337Y R.ROVER, M/CYC. KMDL 946J BOXER A...",M/V DRIVER HIT TWO M/CYCLES AT A ROAD JUNCTION...,UNKNOWN,M,A,10.0,RE,2.0,5/20,NaN
693,1030,AWENDO,MIGORI,MIGORI AWENDO,NYALAGO AREA,KMDX 275K BAJAJ,THE CYCLE LOST CONTROL AND FELL DOWN,ALLAN OKEYO,M,A,98.0,M/CYCLIST,1.0,03/11,NaN