In [4]:
import pandas as pd
import matplotlib.pyplot as plt

#change the setting to display all columns
pd.set_option('display.max_columns', None)

In [6]:
# Read the CSV file
sdg_data = pd.read_csv(r"C:\Users\omweg\Desktop\Data Analysis\Class code\sdgs_subnational_ken.csv")

In [7]:
sdg_data.head()

,ISO3,Location,DataId,Indicator,Value,Precision,DHS_CountryCode,CountryName,SurveyYear,SurveyId,IndicatorId,IndicatorOrder,IndicatorType,CharacteristicId,CharacteristicOrder,CharacteristicCategory,CharacteristicLabel,ByVariableId,ByVariableLabel,IsTotal,IsPreferred,SDRID,RegionId,SurveyYearLabel,SurveyType,DenominatorWeighted,DenominatorUnweighted,CILow,CIHigh,LevelRank
0,#country+code,#loc+name,#meta+id,#indicator+name,#indicator+value+num,#indicator+precision,NaN,#country+name,#date+year,#survey+id,#indicator+code,NaN,NaN,NaN,NaN,NaN,NaN,#indicator+label+code,#indicator+label,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KEN,Coast,1527624,Age specific fertility rate: 10-14,3,0,KE,Kenya,1989,KE1989DHS,FE_FRTR_W_A10,11763005.0,I,416003.0,1416010.0,Region,Coast,0,NaN,0.0,1.0,FEFRTRWA10,KEDHS1989416003,1989,DHS,NaN,NaN,NaN,NaN,1.0
2,KEN,Eastern,1546182,Age specific fertility rate: 10-14,2,0,KE,Kenya,1989,KE1989DHS,FE_FRTR_W_A10,11763005.0,I,416004.0,1416030.0,Region,Eastern,0,NaN,0.0,1.0,FEFRTRWA10,KEDHS1989416004,1989,DHS,NaN,NaN,NaN,NaN,1.0
3,KEN,Central,1533562,Age specific fertility rate: 10-14,1,0,KE,Kenya,1989,KE1989DHS,FE_FRTR_W_A10,11763005.0,I,416002.0,1416040.0,Region,Central,0,NaN,0.0,1.0,FEFRTRWA10,KEDHS1989416002,1989,DHS,NaN,NaN,NaN,NaN,1.0
4,KEN,Rift Valley,1546195,Age specific fertility rate: 10-14,2,0,KE,Kenya,1989,KE1989DHS,FE_FRTR_W_A10,11763005.0,I,416006.0,1416050.0,Region,Rift Valley,0,NaN,0.0,1.0,FEFRTRWA10,KEDHS1989416006,1989,DHS,NaN,NaN,NaN,NaN,1.0

In [8]:
sdg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3701 entries, 0 to 3700
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ISO3                    3701 non-null   object
 1   Location                3701 non-null   object
 2   DataId                  3701 non-null   object
 3   Indicator               3701 non-null   object
 4   Value                   3701 non-null   object
 5   Precision               3701 non-null   object
 6   DHS_CountryCode         3700 non-null   object
 7   CountryName             3701 non-null   object
 8   SurveyYear              3701 non-null   object
 9   SurveyId                3701 non-null   object
 10  IndicatorId             3701 non-null   object
 11  IndicatorOrder          3700 non-null   float64
 12  IndicatorType           3700 non-null   object
 13  CharacteristicId        3700 non-null   float64
 14  CharacteristicOrder     3700 non-null   float64
 15  CharacteristicCategory  3700 non-null   object
 16  CharacteristicLabel     3700 non-null   object
 17  ByVariableId            3701 non-null   object
 18  ByVariableLabel         1331 non-null   object
 19  IsTotal                 3700 non-null   float64
 20  IsPreferred             3700 non-null   float64
 21  SDRID                   3700 non-null   object
 22  RegionId                3700 non-null   object
 23  SurveyYearLabel         3700 non-null   object
 24  SurveyType              3700 non-null   object
 25  DenominatorWeighted     3103 non-null   float64
 26  DenominatorUnweighted   3044 non-null   float64
 27  CILow                   292 non-null    float64
 28  CIHigh                  292 non-null    float64
 29  LevelRank               3421 non-null   float64
dtypes: float64(10), object(20)
memory usage: 867.6+ KB

Data Cleaning

In [12]:
# Drop the first row (if it's a header or unnecessary)
sdg = sdg_data.iloc[1:]

# Drop columns with all missing values
sdg  = sdg.dropna(axis=1, how='all')

# Drop columns containing 'ID' or 'Id' in their name (case-insensitive)
to_drop = [col for col in sdg.columns if 'id' in col.lower()[-2:]]
sdg  = sdg.drop(to_drop, axis=1)

# Drop columns containing 'order' in their name
to_drop = [col for col in sdg.columns if 'order' in col.lower()]
sdg  = sdg.drop(to_drop, axis=1)

# Drop columns that contain only a single unique value (not useful for analysis)
unique_columns = sdg.loc[:, sdg.nunique() == 1].columns
sdg  = sdg.drop(unique_columns, axis=1)

# Drop specific column 'CharacteristicLabel' if it exists in the dataset
sdg = sdg.drop(['CharacteristicLabel'], axis=1)

# Convert the 'Value' column to float 
sdg['Value'] = sdg['Value'].astype(float)

In [13]:
#view new dataset
sdg.head()

,Location,Indicator,Value,Precision,SurveyYear,ByVariableLabel,IsPreferred,SurveyYearLabel,SurveyType,DenominatorWeighted,DenominatorUnweighted,CILow,CIHigh,LevelRank
1,Coast,Age specific fertility rate: 10-14,3.0,0,1989,NaN,1.0,1989,DHS,NaN,NaN,NaN,NaN,1.0
2,Eastern,Age specific fertility rate: 10-14,2.0,0,1989,NaN,1.0,1989,DHS,NaN,NaN,NaN,NaN,1.0
3,Central,Age specific fertility rate: 10-14,1.0,0,1989,NaN,1.0,1989,DHS,NaN,NaN,NaN,NaN,1.0
4,Rift Valley,Age specific fertility rate: 10-14,2.0,0,1989,NaN,1.0,1989,DHS,NaN,NaN,NaN,NaN,1.0
5,Western,Age specific fertility rate: 10-14,0.0,0,1989,NaN,1.0,1989,DHS,NaN,NaN,NaN,NaN,1.0

Summary Statistics

In [ ]:
sdg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3700 entries, 1 to 3700
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               3700 non-null   object
 1   Indicator              3700 non-null   object
 2   Value                  3700 non-null   float64
 3   Precision              3700 non-null   object
 4   SurveyYear             3700 non-null   object
 5   ByVariableLabel        1330 non-null   object
 6   IsPreferred            3700 non-null   float64
 7   SurveyYearLabel        3700 non-null   object
 8   SurveyType             3700 non-null   object
 9   DenominatorWeighted    3103 non-null   float64
 10  DenominatorUnweighted  3044 non-null   float64
 11  CILow                  292 non-null    float64
 12  CIHigh                 292 non-null    float64
 13  LevelRank              3421 non-null   float64
dtypes: float64(7), object(7)
memory usage: 404.8+ KB

:

Questions